body head{margin: 0; padding: 0; height: 100%;}
header{background-color: darkgreen; text-decoration-color: white; padding: 15px; align-items: center;}
.logo{font-size: 20px; padding-bottom: 5px; padding-top: 5px; padding-left: 15px; padding-right: 15px; border-right: 15px; color: white; }
.slogan{color: aquamarine; font-size: 32px;}
.Menu{gap:  30px;}
.main{background-color: beige; color: black; padding-top: 30px; padding-bottom: 30px; padding-left: 100px; padding-right: 100px; }
.heading{color: red; align-items: center; margin-bottom: 30px;}
.IMG{margin-bottom: 50px;}
.table{padding: 10px; }
.first{background-color: black; color: white;}
.footer{background-color: black; padding: 30px; align-items: center;}

/* Flex Box Starter */
/* REMEMBER 1: This is just to initiate flex display, you still need to assign rule to its children */
.flex-container { 
    display:flex; 
    align-items:center;
}

/* Table Starter */
#schedule-table { 
    border-collapse:collapse; width: 100%;
}
#schedule-table > tbody > tr > th,
#schedule-table > tbody> tr > td { 
    border:1px solid black;
}

/* Grid Box Starter */
/* REMEMBER 1: There are placeholders in the rule, please change them accordingly */
/* REMEMBER 2: This is to initiate grid display, you still need to assign rules for its children to determine how many grid columns they take up respectively */
.grid-container { 
    display:grid; 
    grid-template-columns:repeat([number of times],[unit]); 
    gap:[value]
}